.social-proof-section {
	display: grid;
	row-gap: 2.5rem;
}

.social-proof-text, .social-proof-reviews {
	width: min(600px, 100%);
	text-align: center;
	justify-self: center;
}

.social-proof-testimonials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
}

@media (min-width: 1000px) {

	.social-proof-section {
		grid-template-columns: 1fr 500px;
		row-gap: 4rem;
	}

	.social-proof-text         { grid-column: 1 / 2; }
	.social-proof-reviews	 		 { grid-column: 2 / -1; }
 	.social-proof-testimonials { grid-column: 1 / -1; }

	.social-proof-text, .social-proof-reviews {
		justify-self: start;
		text-align: start;
	}

	.social-proof-reviews {
		display: grid;
	}

}