@use '../abstracts' as *;
@use '../base';

.social-proof-section {
	display: grid;


	/*
	// Media query for desktop:
	// Main text and reviews components should be side
	// Reviews and testimonials components should be positioned the intended way
	*/
}

.social-proof-text, .social-proof-reviews {
	width: min(600px, 100%);
	text-align: center;
	justify-self: center;

	/*
	// Media query for desktop:
	// Main text and reviews components' text should align to the left
	*/
}

.social-proof-testimonials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	&__item {
		max-width: 500px;
		flex-basis: 350px;
		flex-grow: 1;
		padding: 1rem;

		.client-profile {
			display: grid;
			grid-template: repeat(2, auto) / auto 1fr;
			grid-template-areas: 	'picture name'
														'picture status';
			column-gap: 1rem;
		}

		.client-picture { grid-area: picture; }
		.client-name		{ grid-area: name;		}
		.client-status	{ grid-area: status;	}

		.client-statement {
			margin-top: 1rem
		}
	}

}

@media (min-width: 1000px) {

	.social-proof-section {
		grid-template-columns: 1fr 1fr;
	}

	.social-proof-text         { grid-column: 1 / 2; }
	.social-proof-reviews	 		 { grid-column: 2 / -1; }
 	.social-proof-testimonials { grid-column: 1 / -1; }

	.social-proof-text, .social-proof-reviews {
		text-align: start;
	}
	
}