@font-face {
    font-family: 'League Spartan Regular';
    src: url('../assets/fonts/League_Spartan/static/LeagueSpartan-Regular.ttf');
}

@font-face {
    font-family: 'League Spartan Medium';
    src: url('../assets/fonts/League_Spartan/static/LeagueSpartan-Medium.ttf');
}

@font-face {
    font-family: 'League Spartan Bold';
    src: url('../assets/fonts/League_Spartan/static/LeagueSpartan-Bold.ttf');
}