@font-face {
    font-family: 'League Spartan Regular';
    src: url('../assets/fonts/static/LeagueSpartan-Regular.ttf');
}

@font-face {
    font-family: 'League Spartan Medium';
    src: url('../assets/fonts/static/LeagueSpartan-Medium.ttf');
}

@font-face {
    font-family: 'League Spartan Regular';
    src: url('../assets/fonts/static/LeagueSpartan-Bold.ttf');
}